[user]
	name = apopma
	email = adapopma@navapbc.com
[push]
	default = simple
[alias]
    st = status
	co = checkout
 	br = branch
	ci = commit
	branch-name = rev-parse --abbrev-ref HEAD
	pub = "!git push -u origin $(git branch-name)"
[core]
	excludesfile = ~/.gitignore_global
